[Unit]
Description=Hook manager for Accomplice

[Service]
Type=simple
ExecStart=/usr/bin/concurrently 'npx tsc --watch' 'nodemon -q dist/index.js'
Restart=always
User=hookmanager
Group=nogroup
Environment=NODE_ENV=production
WorkingDirectory=/opt/hookmanager

[Install]
WantedBy=multi-user.target
